# Retail Store Sales Project

## Data Import

In [78]:
# Import Libraries

import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [79]:
# Import .csv files

df = pd.read_csv('C:/Users/DELL/Documents/Road to Data Analytics/Data Analytics Projects/Retail Store Sales/retail_store_sales.csv')

In [80]:
df

,Transaction ID,Customer ID,Category,Item,Price Per Unit,Quantity,Total Spent,Payment Method,Location,Transaction Date,Discount Applied
0,TXN_6867343,CUST_09,Patisserie,Item_10_PAT,18.5,10.0,185.0,Digital Wallet,Online,4/8/2024,True
1,TXN_3731986,CUST_22,Milk Products,Item_17_MILK,29.0,9.0,261.0,Digital Wallet,Online,7/23/2023,True
2,TXN_9303719,CUST_02,Butchers,Item_12_BUT,21.5,2.0,43.0,Credit Card,Online,10/5/2022,False
3,TXN_9458126,CUST_06,Beverages,Item_16_BEV,27.5,9.0,247.5,Credit Card,Online,5/7/2022,NaN
4,TXN_4575373,CUST_05,Food,Item_6_FOOD,12.5,7.0,87.5,Digital Wallet,Online,10/2/2022,False
...,...,...,...,...,...,...,...,...,...,...,...
12570,TXN_9347481,CUST_18,Patisserie,Item_23_PAT,38.0,4.0,152.0,Credit Card,In-store,9/3/2023,NaN
12571,TXN_4009414,CUST_03,Beverages,Item_2_BEV,6.5,9.0,58.5,Cash,Online,8/12/2022,False
12572,TXN_5306010,CUST_11,Butchers,Item_7_BUT,14.0,10.0,140.0,Cash,Online,8/24/2024,NaN
12573,TXN_5167298,CUST_04,Furniture,Item_7_FUR,14.0,6.0,84.0,Cash,Online,12/30/2023,True
12574,TXN_2407494,CUST_23,Food,Item_9_FOOD,17.0,3.0,51.0,Cash,Online,8/6/2022,NaN

## Data Cleaning

### Check Missing Values

In [81]:
# How many values are missing per column?
df.isnull().sum()

Transaction ID         0
Customer ID            0
Category               0
Item                1213
Price Per Unit       609
Quantity             604
Total Spent          604
Payment Method         0
Location               0
Transaction Date       0
Discount Applied    4199
dtype: int64

### Fix Data Types

In [82]:
# What are the data types of each column?
df.dtypes

Transaction ID       object
Customer ID          object
Category             object
Item                 object
Price Per Unit      float64
Quantity            float64
Total Spent         float64
Payment Method       object
Location             object
Transaction Date     object
Discount Applied     object
dtype: object

In [83]:
## Transaction Date - datetime
df['Transaction Date'] = pd.to_datetime(df['Transaction Date'], errors='coerce')

## Quantity - integer
df['Quantity'] = df['Quantity'].fillna(0).astype(int)

In [84]:
df.dtypes

Transaction ID              object
Customer ID                 object
Category                    object
Item                        object
Price Per Unit             float64
Quantity                     int64
Total Spent                float64
Payment Method              object
Location                    object
Transaction Date    datetime64[ns]
Discount Applied            object
dtype: object

### Consistency Check for Total Spent

In [85]:
# Does the manually calculated column match with 'Total Spent' column?
df['calculated_total'] = df['Price Per Unit'] * df['Quantity']

In [86]:
df[["Price Per Unit","Quantity","calculated_total","Total Spent"]].head(10)

   Price Per Unit  Quantity  calculated_total  Total Spent
0            18.5        10             185.0        185.0
1            29.0         9             261.0        261.0
2            21.5         2              43.0         43.0
3            27.5         9             247.5        247.5
4            12.5         7              87.5         87.5
5             NaN        10               NaN        200.0
6             5.0         8              40.0         40.0
7            33.5         0               0.0          NaN
8            27.5         1              27.5         27.5
9            36.5         3             109.5        109.5

In [87]:
# Replacing the values of 'Total Spent' col with the values of 'calculated_total' col
df["Total Spent"] = df["calculated_total"]

In [88]:
# Getting rid of the 'calculated_total' col
df = df.drop(columns=["calculated_total"])

In [89]:
df.head(10)

,Transaction ID,Customer ID,Category,Item,Price Per Unit,Quantity,Total Spent,Payment Method,Location,Transaction Date,Discount Applied
0,TXN_6867343,CUST_09,Patisserie,Item_10_PAT,18.5,10,185.0,Digital Wallet,Online,2024-04-08,True
1,TXN_3731986,CUST_22,Milk Products,Item_17_MILK,29.0,9,261.0,Digital Wallet,Online,2023-07-23,True
2,TXN_9303719,CUST_02,Butchers,Item_12_BUT,21.5,2,43.0,Credit Card,Online,2022-10-05,False
3,TXN_9458126,CUST_06,Beverages,Item_16_BEV,27.5,9,247.5,Credit Card,Online,2022-05-07,NaN
4,TXN_4575373,CUST_05,Food,Item_6_FOOD,12.5,7,87.5,Digital Wallet,Online,2022-10-02,False
5,TXN_7482416,CUST_09,Patisserie,NaN,NaN,10,NaN,Credit Card,Online,2023-11-30,NaN
6,TXN_3652209,CUST_07,Food,Item_1_FOOD,5.0,8,40.0,Credit Card,In-store,2023-06-10,True
7,TXN_1372952,CUST_21,Furniture,NaN,33.5,0,0.0,Digital Wallet,In-store,2024-04-02,True
8,TXN_9728486,CUST_23,Furniture,Item_16_FUR,27.5,1,27.5,Credit Card,In-store,2023-04-26,False
9,TXN_2722661,CUST_25,Butchers,Item_22_BUT,36.5,3,109.5,Cash,Online,2024-03-14,False

### Handle Duplicates

In [91]:
# Checking if there's any duplicate value in the 'Transaction ID' col 
df['Transaction ID'].duplicated().any()

np.False_

### Export the Dataframe

In [94]:
# Exporting to .csv
df.to_csv("data_clean.csv", index=False) # index=False avoids writing row numbers